<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798715037801-e9itoicgulflmtb1h7kdqo1tkd64f8sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798715037801-e9itoicgulflmtb1h7kdqo1tkd64f8sf</string>
	<key>API_KEY</key>
	<string>AIzaSyAzLgLNiLyiFWcaqs4tzWEqZvWJE0beyjg</string>
	<key>GCM_SENDER_ID</key>
	<string>798715037801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keli.LoginAndSignUp</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauth-c7e16</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauth-c7e16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798715037801:ios:e444055fd74b6000037af8</string>
</dict>
</plist>